@font-face {
    font-family: "IskraCYR";
    src: url("./IskraCYR-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "IskraCYR";
    src: url("./IskraCYR-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "IskraCYR";
    src: url("./IskraCYR-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "IskraCYR";
    src: url("./IskraCYR-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "IskraCYR";
    src: url("./IskraCYR-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}